.box {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    min-height: 40px;
}

.box-green {
    background-color: red;
    border: 1px solid blue;
}

.margin-b20 {
    margin-bottom: 20px;
}